@{
    ViewData["Title"] = "COPQ Detail";
}

<link href="~/css/fontawesome/styles.min.css" rel="stylesheet" />
<link href="~/css/tabulator/tabulator.min.css" rel="stylesheet" />
<link href="~/css/tabulator/tabulator_bootstrap4.min.css" rel="stylesheet" />
<link href="~/css/pnotify.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.datatables.js"></script>
<script src="~/js/pnotify.js"></script>
<script src="~/js/pnotify.confirm.js"></script>
<script src="~/lib/bootstrap/dist/js/datatables.buttons.min.js"></script>
<script src="~/lib/bootstrap/dist/js/popupAlert.js"></script>
<script src="~/lib/bootstrap/dist/js/jszip.min.js"></script>
<script src="~/lib/bootstrap/dist/js/buttons.html5.min.js"></script>
<script src="~/js/common.js"></script>
<script src="~/js/tabulator.js"></script>
<script src="~/js/xlsx.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.2/js/bootstrap.bundle.min.js"></script>

<style>
    .nav-pills .nav-link {
        text-align: left;
        border-radius: 0;
        border-left: 4px solid transparent;
        font-weight: 500;
        width: 100%;
        padding: 12px;
        background-color: #fff;
        color: #333;
        margin-bottom: 4px;
    }

        .nav-pills .nav-link.active {
            background-color: #f4f3f8;
            border-left: 4px solid #4682B4;
            color: #4682B4;
            font-weight: bold;
        }

    .form-control {
        padding: 0 10px !important;
        border: 0;
        border-bottom: 1px solid #cccccc;
        border-radius: 0px;
    }

    label {
        margin-bottom: 0;
        margin-top: .3rem;
        padding-right: 0.25rem;
    }

    .form-group > .row > [class^="col-"] {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .custome-body {
        margin-bottom: -17px !important;
        padding: 0.75rem !important;
        margin-top: -17px !important;
    }

    #scrollToTopBtn:hover {
        background-color: #0056b3;
    }

    #scrollToTopBtn {
        outline: none;
    }

    .tabulator .tabulator-header .tabulator-col {
        font-size: 14px;
        background-color: #D6E4F0;
        font-weight: 600;
        border-right: 1px solid #ccc;
    }

    .tabulator-row .tabulator-cell {
        padding: 5px 5px;
        font-size: 14px;
        height: 30px;
    }

    .tabulator-cell:hover {
        color: #4682B4 !important;
        cursor: pointer !important;
        font-weight: bold;
    }

    .tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-left {
        border-right: 1px solid #ccc;
    }

    .tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-left {
        border-right: 1px solid #ccc;
    }
</style>

<div class="content">
    <div class="card">
        <div class="card-body">

            <div class="nav nav-tabs" id="v-tabs" role="tablist">
                <a class="nav-link active" id="v-tab1" data-bs-toggle="pill" href="#tab1" role="tab">Complaint Dump</a>
                <a class="nav-link" id="v-tab2" data-bs-toggle="pill" href="#tab2" role="tab">Indent Dump</a>
                <a class="nav-link" id="v-tab3" data-bs-toggle="pill" href="#tab3" role="tab">Pending Po</a>
                <a class="nav-link" id="v-tab4" data-bs-toggle="pill" href="#tab4" role="tab">Invoice List</a>
                <a class="nav-link" id="v-tab5" data-bs-toggle="pill" href="#tab5" role="tab">PC Chart</a>
                <a class="nav-link" id="v-tab6" data-bs-toggle="pill" href="#tab6" role="tab">Region Names</a>
            </div>

            <div class="tab-content" id="v-tabContent">

                <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                    <div class="card" id="div1">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div>
                                <b style="font-size: large;color: #4682B4;">Complaint Dump</b>
                            </div>

                            <div>
                                <button id="addButton" type="button" class="btn btn-outline-success legitRipple mr-2" onclick="openCOPQForm()">
                                    <i class="fas fa-plus mr-2 fa-1x"></i>Add
                                </button>
                                <button id="backButton" class="btn btn-outline-primary" onclick="history.back()">
                                    <i class="fas fa-arrow-left"></i> Back
                                </button>

                            </div>
                        </div>
                    </div>

                    <div class="row" id="div2Grid">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="chart-container">
                                        <div class="form-group">
                                            <div id="copq-table" class="col-12"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="div3Form" style="border-radius:10px;border:1px solid #4682B4;">
                        <div class="card-header d-flex justify-content-between align-items-center" style="border-radius: 10px 10px 0 0; border-bottom: 2px solid #4682B4;">
                            <h5 class="card-title font-weight-bold mb-0">Complaint Dump</h5>
                            <div>
                                <button type="button" id="saveButton"  onclick="InsertUpdateDetail()" class="btn btn-success me-2">
                                    <i class="fas fa-floppy-disk mr-2"></i>Save
                                </button>

                                <button type="button" class="btn btn-warning" onclick="window.location.href='/COPQ/COPQ'">
                                    <i class="fas fa-arrow-left mr-2"></i>Back
                                </button>





                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Id" name="Id" hidden />
                                <div class="row form-group align-items-center mb-2 gx-1">
                                    <label class="col-2"><b>CCCN Date</b></label>
                                    <div class="col-2" >
                                        <input type="date" class="form-control" id="CCCNDate" name="CCCNDate" />
                                        <span id="Date_Error" class="text-danger"></span>
                                    </div>
                                    <div class="col-2"></div>
                                    <label class="col-2"><b>Reported By</b></label>
                                    <div class="col-2">
                                        <input type="text" class="form-control" id="ReportedBy" name="ReportedBy" />
                                    </div>
                                </div>

                                <div class="row form-group align-items-center mb-2 gx-1">
                                    <label class="col-2"><b>Location</b></label>
                                    <div class="col-2">
                                        <input type="text" class="form-control" id="Location" name="Location" />
                                    </div>
                                    <div class="col-2"></div>
                                    <label class="col-2"><b>Customer Name</b></label>
                                    <div class="col-2">
                                        <input type="text" class="form-control" id="CustomerName" name="CustomerName" />
                                    </div>
                                </div>

                                <div class="row form-group align-items-center mb-2 gx-1">
                                    <label class="col-2"><b>Dealer Name</b></label>
                                    <div class="col-2">
                                        <input type="text" class="form-control" id="DealerName" name="DealerName" />
                                    </div>
                                    <div class="col-2"></div>
                                    <label class="col-2"><b>Description</b></label>
                                    <div class="col-2">
                                        <input type="text" class="form-control" id="Description" name="Description" />
                                    </div>
                                </div>

                                <div class="row form-group align-items-center mb-2 gx-1">
                                    <label class="col-2"><b>Status</b></label>
                                    <div class="col-2">
                                        <select class="form-control" id="Status" name="Status">
                                            <option value="">-- Select --</option>
                                            <option value="Open">Open</option>
                                            <option value="In Progress">In Progress</option>
                                            <option value="Closed">Closed</option>
                                            <option value="On Hold">On Hold</option>
                                        </select>
                                    </div>
                                    <div class="col-2"></div>
                                    <label class="col-2">
                                        <b>Completion</b>
                                    </label>
                                    <div class="col-2">
                                        <input class="form-control" id="Completion" name="Completion" type="text" />
                                    </div>
                                </div>
                                <div class="row form-group align-items-center mb-2 gx-1">
                                    <label class="col-2"><b>Closure Remarks</b></label>
                                    <div class="col-8">
                                        <textarea class="form-control" id="ClosureRemarks" name="ClosureRemarks" rows="3"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- Tab 2 to Tab 6 content placeholders -->
                <div class="tab-pane fade" id="tab2" role="tabpanel">
                    <!-- Content for Indent Dump -->
                </div>
                <div class="tab-pane fade" id="tab3" role="tabpanel">
                    <!-- Content for Pending Po -->
                </div>
                <div class="tab-pane fade" id="tab4" role="tabpanel">
                    <!-- Content for Invoice List -->
                </div>
                <div class="tab-pane fade" id="tab5" role="tabpanel">
                    <!-- Content for PC Chart -->
                </div>
                <div class="tab-pane fade" id="tab6" role="tabpanel">
                    <!-- Content for Region Names -->
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/scripts/COPQ/copq.js" asp-append-version="true"></script>
   
}